* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(255, 255, 255);
}

a {
    color: inherit;
    text-decoration: none;
}

i{
    color: inherit;
}


html {
    background: black;
    cursor: none;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

#bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


#down {
    position: absolute;
    right: 0;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    /*/background: radial-gradient(circle, rgb(255, 255, 255) 2%, rgb(255, 251, 251) 17%, rgba(160, 160, 160, 0.613) 55%, rgba(0, 0, 0, 0.468) 99%);/*/
    filter: blur(80px);
    animation: up 40s infinite;
}

#right {
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    /*/background: radial-gradient(circle, rgb(255, 255, 255) 2%, rgb(255, 251, 251) 17%, rgba(160, 160, 160, 0.613) 55%, rgba(0, 0, 0, 0.468) 99%);/*/
    filter: blur(80px);
    animation: right 40s .5s infinite;
}


@keyframes down{
    0%, 100%{
        top: -100px;
    }
    70%{
        top: 700px;
    }
}

@keyframes up {
    0%, 100%{
        bottom:  -100px;
    }
    70% {
        bottom : 700px;
    }
}
@keyframes left {
    0%, 100%{
        left:  -100px;
    }
    70% {
        left : 1300px;
    }
}
@keyframes right {
    0%, 100%{
        right:  -100px;
    }
    70% {
        right : 1300px;
    }
}

/* intro | the mf splash screen */

.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: white ;
    transition: 1s;
}

.logo-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 1px;
    color: black;
}

.logo.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out .5s;
}

.logo.fade {
    bottom: 150px;
    opacity: 0;
    transition: ease-in-out 0.5s ;
}


/* finally coded on my own! | navbar */



.lightning {
    position: relative;
    left: -10px;
    top: 20px;
    width: 60px;
    height: 60px;
}

header {
    height: 150px;
    width: 100%;
    position: absolute;
}

header h4{
    position: relative;
    left: 200px;
    top: 70px;
    bottom: 1rem;
    font-weight: 600;
    font-size: 30px;
    color: white;
    text-decoration: none;
    width: fit-content;
}

.lightning2 {
    position: absolute;
    width: 55px;
    height: 55px;
    top: 73px;
    left: 155px;
}

ul {
    color: white;
    height: 147px;
    position: relative;
}

ul li {
    display: block;
    text-align: right;
    position: relative;
    top: 170px;
    left: -100px;
    font-size: 15px;
    font-weight: 500;
    padding-left: 20px;
    line-height: 2.5;
    color: white;
    width: fit-content;
}

ul li .a1 {
    color: white;
    position: relative;
    text-align: right;
    opacity: 0%;
    pointer-events: none;
    transition: .4s ease-in-out;
    left: -20px;
}
ul li .a2 {
    color: white;
    position: relative;
    text-align: right;
    opacity: 0%;
    pointer-events: none;
    transition: .4s ease-in-out;
    left: -32px;
}

ul li .a3 {
    color: white;
    position: relative;
    text-align: right;
    opacity: 0%;
    pointer-events: none;
    transition: .4s ease-in-out;
    left: -98px;
}




ul li a{
    text-decoration: none;
    color: inherit;
    position: relative;
    left: -25px;
    float: right;

}

.lilinks {
    opacity: 70%;
    transition: .25s ease-in-out;
    width: fit-content;
    left: 1265px;
    height: fit-content;
    top: 150px;
    
}

.disrupttxt {
    position: relative;
    left: 0px;
    
}

.projecttxt {
    position: relative;
    left: -12px;
}

.dptxt {
    position: relative;
    left: -78px;
}

.lilinks2 {
    opacity: 80%;
}

.lilinks2:hover {
    opacity: 100%;
}

.vida {
    position: relative;
    transition: .25s;
    left: 8px;
    opacity: 80%;
    
}

.a4 {
    color: white;
    position: relative;
    left: -10px;
    transition: .4s ease-in-out;
    opacity: 0;
}

.lilinks2:hover .a4 {
    position: relative;
    left: 0px;
    opacity: 1;
}


.books {
    position: relative;
    left: -8px;
    transition: .25s;
}

.a5 {
    color: white;
    position: relative;
    left: -30px;
    transition: .4s ease-in-out;
    opacity: 0;
}

.lilinks2:hover .a5{
    position: relative;
    left: -20px;
    opacity: 1;
}

.design {
    position: relative;
    left: -11px;
    transition: .25s;

}

.a6 {
    color: white;
    position: relative;
    left: -33px;
    transition: .4s ease-in-out;
    opacity: 0;
}

.lilinks2:hover .a6 {
    position: relative;
    left: -23px;
    opacity: 1;
}

.morality {
    position: relative;
    top: -38px;
    left: -18px;
    transition: .25s;
}

.a7 {
    color: white;
    position: relative;
    left: -117px;
    transition: .4s ease-in-out;
    opacity: 0;
}

.lilinks2:hover .a7 {
    position: relative;
    left: -107px;
    opacity: 1;
}

.expar {
    position: absolute;
    top: 9px;
    left: 33px;
    height: 20px;
    width: 20px;
    transition: transform 0.25s ease; 
}

.moredrop {
    position: absolute;
    color: white;
    opacity: 90%;
    background-color: transparent;
    border: none;
    font-weight: 500;
    font-size: 15px;
    top: 10px;
    left: 58px;
}

.dropdown {
    position: absolute;
    left: 0;
    top: 25px;
    padding-top: 10px;
    height: fit-content;
    display: none;
    transition: opacity 0.25s ease-in-out;    
} 

.moredrop:hover + .dropdown,
.dropdown:hover {
    display: block;
}


.lilinks:hover .expar {
    transform: rotate(90deg);
}

.vida:hover{
    opacity: 100%;
    text-decoration:underline;
text-decoration-style: dotted;
text-underline-offset: 5px;
}

.books:hover{
    opacity: 100%;
    text-decoration:underline;
text-decoration-style: dotted;
text-underline-offset: 5px;
}

.design:hover{
    opacity: 100%;
    text-decoration:underline;
text-decoration-style: dotted;
text-underline-offset: 5px;
}

.morality:hover{
    opacity: 100%;
    text-decoration:underline;
text-decoration-style: dotted;
text-underline-offset: 5px;
}



.dropdown li {
    position: relative;
    left: 24px;
    top: 0px;
} 

.dropdown li a {
    opacity: 0.9
;
}


.lilinks:hover{
opacity: 100%;
}


.lilinks:hover .disrupttxt {
    opacity: 100%;
    text-decoration:underline;
text-decoration-style: dotted;
text-underline-offset: 5px;
}

.lilinks:hover .projecttxt {
    opacity: 100%;
    text-decoration:underline;
text-decoration-style: dotted;
text-underline-offset: 5px;
}

.lilinks:hover .dptxt {
    opacity: 100%;
    text-decoration:underline;
text-decoration-style: dotted;
text-underline-offset: 5px;
}





.lilinks:hover .a1 {
    opacity: 100%;
    pointer-events: all;
    position: relative;
    left: -10px;
    
}

.lilinks:hover .a2 {
    opacity: 100%;
    pointer-events: all;
    position: relative;
    left: -22px;
}
.lilinks:hover .a3 {
    opacity: 100%;
    pointer-events: all;
    position: relative;
    left: -88px;
}


/* home | main  content */
.innergreeting {
    
    color: #c56fff;
    font-size: 35px;
    position: relative;
    top: 104px;
    left: 320px;
    width: fit-content;
    font-family: montserrat;
    border: 0px solid #ddd;
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    overflow: hidden;

}

.outergreeting {
    color: rgb(255, 255, 255);
    font-size: 35px;
    position: relative;
    top: 150px;
    left: 165px;
    width: fit-content;
    font-family: montserrat;
}

.innergreeting span {
    color: #6f9aff;
    position: relative;
    animation: animation 20s ease infinite;
}

@keyframes animation {
    0%, 100%{
        top: 0px;
    }
    5% {
        top: -50px;
    }

    50% {
        top: -50px;
    }
    55% {
        top: -0px;
    }
    100% {
        top: 0px;
    }
}

.maintxt{
    font-size: 17px;
    font-weight: 250;
    position: relative;
    top: 150px;
    left: 165px;
    letter-spacing: 1px;
    line-height: 1.5;
    color: white;
    width: fit-content;
    height: fit-content;
}

.purple {
    color: #6f9aff;
    font-weight: 600;
}

.dsl {
    text-decoration: none;
}

.dsl:hover {
    text-decoration:underline;
text-decoration-style: dotted;
text-underline-offset: 5px;
}

.dpl {
    text-decoration: none;
}

.dpl:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-underline-offset: 5px;
}

#time {
color: rgb(255, 255, 255);
font-weight: 500;
position: relative;
left: 165px;
top: 210px;
font-size: 16px;
}

.gburg {
    color: rgb(255, 255, 255);
    font-weight: 500;
    position: relative;
    left: 261px;
    top: 190px;
    font-size: 16px;
}

.msgme {
    position: relative;
    top: 200px;
    left: 165px;
    font-weight: 500;
}

.msgme:hover{
    text-decoration:underline;
text-decoration-style: dotted;
text-underline-offset: 5px;
}
.externallink {
    position: relative;
    height: 20px;
    width: 20px;
    top: 4px;
    text-decoration: none;
}

.slinks{
    position: absolute;
    top: 700px;
    width: 100%;
    display: inline-block;
    width: fit-content;
    left: 155px;
    font-family: 'IBM Plex Mono', monospace;
}


.sicons {
    position: absolute;
    left: 1340px;
    top: 580px;
    width: 10px;
}


.twico {
    position: relative;
    width: 20px;
    height: 20px;
    opacity: 80%;
    transition: .25s ease-in-out;
}

.twico:hover{
    opacity: 1;
}

.gitico {
    position: relative;
    width: 20px;
    height: 20px;
    opacity: 80%;
    transition: .25s ease-in-out;
    top: 15px;
}

.gitico:hover {
    opacity: 1;
}

.linico {
    position: relative;
    color: white;
    width: 19px;
    height: 19px;
    opacity: 80%;
    transition: .25s ease-in-out;
    top: 29px;
    left: 2px;
}

.play {
    height: fit-content;
    width: fit-content;
    position: relative;
    left: 165px;
    top: 215px;
    display: inline-block;
}

.playbtn{
    height: 14px;
    width: 20px;
    position: relative;
    left: 5px;
    top: 1px;
}

/*/disrupt.html/*/

.disrupttitle {
font-family: inter;
font-size: 60px;
font-weight: 600;
position: absolute;
left: 590px;
top: 100px;
}

.disruptapp {
    width: 205px;
    height: 205px;
    position: absolute;
    left: 617px;
    top: 200px;
    transition: .4s ease-in-out;
    z-index: 2;
}

.disruptapp:hover {
    transform: scale(120%) rotate(-30deg);
}

.disruptdes {
    position: absolute;
    font-weight: 500;
    text-align: center;
    top: 445px;
    font-size: 20px;
    line-height: 1.5;
    width: fit-content;
    left: 483px;
}

.seva-form{
    position: absolute;
    left: 595px;
    top: 610px;
}

.disrupthd {
    position: absolute;
    top: -47px;

}

.horline {
    position: relative;
    color: white;
    background-color: white;
    top: 295px;
    width: 220px;
    left: 360px;
        opacity: 60%;

}

.disruptside{
    position: relative;
    color: white;
    top: 304px;
    left: 280px;
    opacity: 60%;
    width: fit-content;
}

.vl {
    border-left: 1.5px solid rgb(255, 255, 255);
    height: 500px;
    position: absolute;
    left: 315px;
    top: 340px;
    opacity: 60%;

  }

  .features {
    position: relative;
    color: white;
    opacity: 60%;
    top: 835px;
    left: 267px;
    width: fit-content;
  }

  .horline2 {
    position: relative;
    color: white;
    background-color: white;
    top: 825px;
    width: 105px;
    left: 360px;
        opacity: 60%;
  }

  .disrupt4{
    position: absolute;
    left: 485px;
    top: 853px;
  }

 
  .dstitle4{
    position: relative;
    font-size: 20px;
    width: fit-content;
    opacity: 70%;
    text-decoration:underline;
    text-decoration-style: dotted;
    text-underline-offset: 8px;
    transition: .25s;
  }

  .dstitle4:hover{
    opacity: 1;
  }

  .dsdes4:hover{
    opacity: 1;
  }

  .dsdes4{
    position: relative;
    font-size: 15px;
    width: fit-content;
    opacity: 70%;
    top: 15px;
    line-height: 1.5;
    transition: .25s;
  }



  .time2{
    position: absolute;
    left: 510px;
    top: -145px;
  }

  .play2{
    position: absolute;
    left: 1110px;
    top: 620px;
    transform: rotate(-90deg);
    width: fit-content;
    opacity: 80%;
    transition: .25s ease-in-out;
   }

   .play2:hover {
    opacity: 100%;
   }
   
   /*/ the mf projects /*/

   .time3{
    display: none;
   }

   .projtitle {
    font-size: 60px;
    position: absolute;
    left: 200px;
    top: 100px;
    font-weight: 400;
   }

   .projdes {
    font-size: 20px;
    position: absolute;
    left: 200px;
    top: 200px;
    line-height: 1.5;
   }

   .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    width: fit-content;
    left: 530px;
    top: 345px;
    display: inline-block;

   }

   .container .card {
    position: relative;
    height: 70px;
    width: 70px;
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1px solid;
    border-top: 1px solid rgba(255, 255, 255, 0.264);
    backdrop-filter: blur(1px);
    margin-right: 100px;
    margin-bottom: 20px;
    transition: .25s;
   }

    .container .card .content {
    padding: 20px;
    transition: .05s;
}   

.container p {
    text-align: center;
    width: fit-content;
    font-weight: 500;
}   

.card:hover {
    transform: scale(120%) perspective(5000px) rotateY(30deg) rotateX(20deg);
}

.meimg {
    position: relative;
    height: 85px;


}

.disimg {
    height: 70px;
    position: relative;
    top: 2px;
}

.ssimg {
    height: 45px;
    position: relative;
}

.prline {
    position: absolute;
    top: 380px;
    left: 295px;
    width: 185px;
    opacity: 70%;
}

.prestxt {
    position: absolute;
    top: 372px;
    left: 205px;
    opacity: 70%;
}

.vl2 {
    border-left: 1.5px solid rgb(255, 255, 255);
    height: 210px;
    position: absolute;
    left: 245px;
    top: 400px;
    opacity: 60%;
}

.pastxt {
    position: absolute;
    top: 625px;
    left: 225px;
    opacity: 70%;
}

.prline2 {
    position: absolute;
    top: 635px;
    left: 285px;
    opacity: 70%;
    width: 195px;
}

.container2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    width: fit-content;
    left: 10px;
    top: 600px;
    display: inline-block;
   }

   .container2 .card2 {
    position: relative;
    height: 70px;
    width: 70px;
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1px solid;
    border-top: 1px solid rgba(255, 255, 255, 0.264);
    backdrop-filter: blur(1px);
    margin-right: 100px;
    margin-bottom: 20px;
    transition: .25s;
   }

    .container2 .card2 .content {
    padding: 20px;
    transition: .05s;
}   

.container2 p {
    text-align: center;
    width: fit-content;
    font-weight: 500;
    position: relative;
    left: -10px;
}   

.card2:hover {
    transform: scale(120%) perspective(5000px) rotateY(30deg) rotateX(20deg);
}


.snimg {
    position: relative;
    height: 90px;
    left: -2px;
}

.alexaimg{
    position: relative;
    height: 40px;
    left: 0px;
}